In [1]:
import json
import pandas
with open('/Users/chizhang/Desktop/didi/data/didi_cd/processed/tileid2oa2handmade_features.json') as f:
    tileid2oa2features2vals = json.load(f)
lst = []
lst = list(tileid2oa2features2vals.keys())

In [2]:
lst

['169',
 '157',
 '158',
 '168',
 '144',
 '142',
 '170',
 '156',
 '127',
 '143',
 '126',
 '128']

In [6]:
data

       tile_ID
0          310
1         9435
2         8837
3         6639
4         5116
...        ...
20017     8500
20018    16623
20019     5334
20020    16927
20021    13300

[20022 rows x 1 columns]

In [11]:
lst_train = []
lst_test = []

In [14]:
for i in lst:
    if i % 2 != 0:
        lst_train += [i]
    else:
        lst_test += [i]

TypeError: not all arguments converted during string formatting

In [9]:
df = pandas.DataFrame(lst_train)
df2 = pandas.DataFrame(lst_test)

In [10]:
df.to_csv('train_tiles.csv', index=False)

In [14]:
df2 = pandas.DataFrame(lst[len(lst)//2:])

In [11]:
df2.to_csv('test_tiles.csv',index=False)